/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
.theme-menu__button:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button::after {
  transition: 0.3s ease;
  content: '';
  display: block;
  width: 100%;
  transform: scaleX(0);
  transform-origin: 0 0;
  height: 2px;
  background-color: var(--text-color, #000);
}

.theme-menu__button:focus-visible::after {
  transition: 0.3s ease;
  transform: scaleX(1);
}

@keyframes pointer {
  from {
    inset-inline-start: -23px;
  }
  to {
    inset-inline-start: -19px;

  }
}