/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button::after {
  transition: transform 0.3s ease;
  content: "";
  display: block;
  width: 100%;
  transform: scaleX(0);
  transform-origin: 0 0;
  height: 2px;
  background-color: var(--text-color, #000);
}

.theme-menu__button:focus-visible::after {
  transition: transform 0.3s ease;
  transform: scaleX(1);
}

@keyframes pointer {
  from {
    inset-inline-start: -23px;
  }
  to {
    inset-inline-start: -19px;
  }
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--text-color, #000);
  transition: transform 0.3s ease;
}

.button::after {
  content: "";
  display: block;
  inset-inline-start: 0;
  inset-block-start: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--text-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0 0;
}

.button:hover::after {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--text-color, #000);
}

.sparks {
  opacity: 0;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.contour {
  transition: fill 0.1s linear;
}

.card__icon-button:hover .core {
  fill: var(--text-color, #000);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--text-color, #000);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .core {
  fill: var(--heart-color, #f00);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--heart-color, #f00);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-color, #f00);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color, #f00);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color, #f00);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: click 0.3s 0.1s ease-in;
}

@keyframes click {
  0% {
    transform: scale(1);
    transform-origin: 50% 50%;
  }

  50% {
    transform: scale(1.5);
    transform-origin: 50% 50%;
  }

  100% {
    transform: scale(1);
    transform-origin: 50% 50%;
  }
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

@keyframes sparks {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
